###################
# General config
# V.01
###################

API_PORT=8080
API_HOST=http://localhost:8080

###################
# Database config
# V.01
###################

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=convertax
POSTGRES_HOST=localhost
POSTGRES_LOGGING=false
POSTGRES_PORT=5432
POSTGRES_SSL=false

###################
# Auth config
# V.01
###################

AUTH_ACCESS_TOKEN_SECRET=mdasdaasmasp
AUTH_ACCESS_TOKEN_EXP=1200